@model IEnumerable<WebApplication8.Models.UserRolesViewModel>

@{
    ViewData["Title"] = "Liste des Utilisateurs";
}

<h1>@ViewData["Title"]</h1>
@if (!Model.Any())
{
    <div class="alert alert-info" role="alert">
        Aucun utilisateur trouvé.
    </div>
}
else
{
    <table class="table">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Prenom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().tel)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => user.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Prenom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Role)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.tel)
                    </td>
                    <td class="d-flex flex-row justify-content-between">
                        <a asp-action="Edit" asp-route-id="@user.UserId" class="btn btn-primary">Modifier</a>
                        <a asp-action="Details" asp-route-id="@user.UserId" class="btn btn-warning">Détails</a>
                        <form asp-action="Delete" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@user.UserId" />
                            <input type="submit" value="Supprimer" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
