@model IEnumerable<WebApplication8.Models.BonDentre>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des Bons d'Entrée</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Identifiant du Bon d'Entrée
            </th>
            <th>
                Date d'Entrée
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idBonDentre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEntree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @if (!User.IsInRole("Agent"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.idBonDentre" class="btn btn-primary">Modifier</a>
                        <a asp-action="Details" asp-route-id="@item.idBonDentre" class="btn btn-warning"> Détails </a>
                        <form asp-action="Delete" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@item.idBonDentre" />
                            <input type="submit" value="Supprimer" class="btn btn-danger" />
                        </form>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.idBonDentre">Détails</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
