@model IEnumerable<WebApplication8.Models.Affectation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                affecter par
            </th>
            <th>
                affecter à
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Materiel.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DateAffectation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TypeAffectation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserAffecting.nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpAffected.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Materiel.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAffectation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeAffectation)
                </td>
                <td>
                    <a asp-controller="Affectation" asp-action="Edit" asp-route-idMat="@item.IdMat" asp-route-dateAffectation="@item.DateAffectation.ToString("yyyy-MM-dd")">Edit</a> |
                    <a asp-controller="Affectation" asp-action="Details" asp-route-idMat="@item.IdMat" asp-route-dateAffectation="@item.DateAffectation.ToString("yyyy-MM-dd")">Details</a> |
                    <a asp-controller="Affectation" asp-action="Delete" asp-route-idMat="@item.IdMat" asp-route-dateAffectation="@item.DateAffectation.ToString("yyyy-MM-dd")">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
